<div class="btn-group">
  <button class="btn btn-small" href="#"><i class="icon-wrench"></i> Select an action</button>
  <button class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></button>
  <ul class="dropdown-menu">
   <li>
     <%= link_to raw('<i class="icon-pencil"></i> Edit Accession'), edit_accession_path(noid), :class=> 'itemicon itemedit', :title => 'Edit Accession'  %>
   </li>
   <li>
     <%= link_to raw('<i class="icon-trash"></i> Delete Accession'), accession_path(noid), :class=> 'itemicon itemtrash', :title => 'Delete Accession', :method => :delete, :data => { :confirm => "Deleting an accession from #{t('sufia.product_name')} is permanent. Click OK to delete this accession from #{t('sufia.product_name')}, or Cancel to cancel this operation"} %>
   </li>
  </ul>
</div>
