<h1>Collection: <%=collection.title%><h1>
  <div class="collection image">
    <%= render partial: 'collections/image_display', locals: {item:@collection} %>
  </div>
  <h3> <%=collection.collection_num%> </h3>

  <div class="collection data">
    <h3/>
    <h3><%=collection.description%> </h3>
  </div>
