<div class="span4"><h1>My Dashboard</h1></div>
<section class="row-fluid">
	<div class="span12">
		<div class="row-fluid dashboard controls">		
			<%= link_to 'Create Ingest', new_accession_path,  {:class => "btn btn-primary"}  %>
			<%=button_for_create_collection %>
		  	<%= link_to "Unassigned Ingests", unassigned_collection_path, :class=> 'btn btn-primary' %>
		</div>
	</div>
</section>

