<span class="tree file">

  <%=link_to truncate(File.basename(path), length:30),sufia.generic_file_path(id), title: File.basename(path) %>
  <% file_data_str = display_file_data(document) %>
  <% unless file_data_str.empty? %>
  <span class=" tree file-data" title="<%=display_file_title(document)%>">(<%= file_data_str %>)</span>
  <% end %>
  <% if edit? %>
    <%= render partial:'dashboard/action_menu', locals:{noid:id, gf:nil} %>
  <% end %>
</span>
