<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<h1>About</h1> 
<h2>What is <%=t('sufia.product_name') %>?</h2>
<p>
  ArchiveSphere builds on the technical infrastructure developed to implement ScholarSphere, and extends the ongoing digital preservation and access work being pursued by Special Collections. The focus of ArchiveSphere will be on developing web applications specific to preserving and providing access to Penn State's archival collections, and integrating services around finding aid and inventory display, search and browse across finding aids, curation services that preserve and represent file relationships and directory structures in addition to discreet files, functionality that supports records management requirements associated with University Archives, and curation and preservation support for both born-digital records and digitized analog surrogates.
</p>
