.image.accession {
  float: left;
  padding-right: 20px;
}

.controls.accession {
  clear:both;
}
.accession.files {
  clear: both;
}

.treetable span.tree.file {
  font-size: .8em;
  background-image: none;
  padding-left: 0;
  margin-left: -1em;
}
.tree.file-data {
  font-size: .6em;

}

.accession.deposit {
  font-size: .5em;
  font-weight: normal;
}


.breadcrumbs {
  background-color: white;
}