/*
.accession-title-image {
  padding-left: 1.75em;
} */
.accession.controls {
  margin-bottom: 2em;
}

.breadcrumbs {
  background-color: white;
  font-size: 1.15em;
  padding: 1em;
}

.field {
  font-size: 1em;
  color: #000085;
  padding-bottom: .25em;
}

.field input {
  //margin-left: 160px;
 // float: right
}

.field label {
  float: left;
  padding-right: 1em;
  height: 100%;
  text-align: left;
  width: 13em;
  clear: both
}

form .actions {
  clear: both
}

input[type="radio"] {
  height: 2em;
}

table.treetable {
  font-size: 1em;
}