.image.accession {
  float: left;
  padding-right: 20px;
}

.controls.accession {
  clear:both;
}
.accession.files {
  clear: both;
}

.tree.file {
  font-size: .8em;
}
.tree.file-data {
  font-size: .6em;

}

.accession.deposit {
  font-size: .5em;
  font-weight: normal;
}
