/*
a.btn.btn-primary:first-child {
	margin-left: 25px;
} */

h1.dashboard-header {
  margin-left: -.8em;
}

.dashboard.controls {
  float: left;
  width: 100%;
}

.dashboard.controls a, .dashboard.controls form {
  float: left;
  margin-left: 6px;
}

dl.expanded-details dt {
	float: left;
	width: 8em;
	text-align: right;
	padding-right: 1em;
}

.table-striped tbody > tr.zebra:nth-child(odd) > td,
.table-striped tbody > tr.zebra:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.per_page label, .per_page select{
  width: auto;
}

/* turn off the user activity on the dashboard */
#activity {
  display: none;
}

.span68 #activity {
  display: block;
}

.per_page, #check_all {
  display: none;
}
