.dashboard.controls {
  float: left;
}

.dashboard.controls .collection-add {
  padding-top: 6px;
  padding-bottom: 6px;
}
.dashboard.controls a{
  float: right;
  margin-left: 6px;
}

.span110 {
  width: 95%;
}

.per_page label, .per_page select{
  width: auto;
}

/* turn off the user activity on the dashboard */
#activity {
  display: none;
}

.span68 #activity {
  display: block;
}

