@import url(https://fonts.googleapis.com/css?family=Lato:300);
#page-positioner {
	min-width: 760px;
}

/* Headings */
h1, h2, h3, h4, h5 {
  color: #5d5d5d;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 300; 
}

h1 {font-size: 1.75em;}
h2 {font-size: 1.625em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.375em;}
h5 {font-size: 1.25em;}
h6 {font-size: 1.125em;}

/* use if a label should be hidden from view but available to screen readers */
.accessible-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.row {
	margin-left: 0;
}

select {
	width: auto;
}

.well {
	
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjYiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNlZGVkZWQiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0iI2VkZWRlZCIgLz48cmVjdCB4PSItMjAuNzEwNyUiIHk9Ii00MS40MjE0JSIgd2lkdGg9IjE0MS40MjE0JSIgaGVpZ2h0PSIyODIuODQyNyUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
	background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 229, color-stop(60%, #ffffff), color-stop(100%, #ededed));
	background-image: -webkit-radial-gradient(center bottom, farthest-corner, #ffffff 60%, #ededed 100%);
	background-image: -moz-radial-gradient(center bottom, farthest-corner, #ffffff 60%, #ededed 100%);
	background-image: -ms-radial-gradient(center bottom, farthest-corner, #ffffff 60%, #ededed 100%);
	background-image: -o-radial-gradient(center bottom, farthest-corner, #ffffff 60%, #ededed 100%);
	background-image: radial-gradient(farthest-corner at center bottom, #ffffff 60%, #ededed 100%);
	/*
	-webkit-box-shadow: inset 2px 2px 5px -1px #444444;
	-moz-box-shadow: inset 2px 2px 5px -1px #444444;
	box-shadow: inset 2px 2px 5px -1px #444444;*/
}

.videoResponsive {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.videoResponsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ------ Homepage -------- */

.myLatestDocs {
	font-family: Lato;
	font-size: 1.5em;
	font-weight: 300;
}


/* ------ Header and Footer -------- */

#masthead, #footer {
	padding: 1em .5em;
	background: #00395E; /* Old browsers */
	background: -moz-linear-gradient(top,  #00395E 0%, #051B2A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00395E), color-stop(100%,#051B2A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00395E 0%,#051B2A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00395E 0%,#051B2A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00395E 0%,#051B2A 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00395E 0%,#051B2A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00395E', endColorstr='#051B2A',GradientType=0 ); /* IE6-9 */
}

#masthead ul.nav {
		display: inline;
	}

#masthead ul.nav li.top_nav a  {
	font-size: 1em;
	/*font-weight: bold;*/
	letter-spacing: .15em;
	padding: .4em .3em;
}

#masthead ul.nav li.top_nav a:link, #masthead ul.nav li.top_nav a:visited,
#footer a:link, #footer a:visited {
	color: #FFF;
	font-size: .85em;
}

#masthead ul.nav li.top_nav a:hover {
	background-color: transparent;
	border-bottom: 2px solid #FFF;
}

#logo, .logo {
	color: #FFF;
	font-family: Lato;
	font-size: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .1em;
}

span.logoScholar {
	font-weight: 500;
}

span.logoSphere {
	font-weight: 300;
}

#footer {
	color: #FFF;
	background-color: transparent;
	margin-top: 2em;
}

.version {
	font-size: .65em;
	margin-left: .5em;
	vertical-align: top;
	text-transform: lowercase;
}

/* ------ Dashboard -------- */

.container-fluid {
	padding-left: 10px;
}

#content-wrapper {
	padding: 1em 1.75em;
}

form.search_dashboard {
	min-height: 30px;
	padding: 10px 0;
}

form.search_dashboard .well {
	padding: 12px;
}

div.batch-info {
	margin: .5em 0;
	padding: 1em 0;
}

#basicActions {
	margin-top: 5.5em;
}

#basicActions form {
	margin-bottom: 0;
}

#basicActions a.btn, #basicActions input.btn {
	display: block;
}

#basicActions input.btn {
	margin: .5em 0;
	width: 100%;
}

/* ------ Profile Page -------- */
h1.profileUserName {
	font-size: 1.5em;
	line-height: 1em;
}

/* ------ Static pages -------- */

ul.faq li {
	list-style-type: none;
}

ul.faq li h3 {
	font-size: 1.25em;
	line-height: 1.25em;
}







@media screen and (min-width: 760px) and (max-width: 915px) {
	#masthead ul.nav {
		width: 69%;
	}
	#shield img {
		width: 100px;
	}
	#logo {
		font-size: 1.39em;
	}
}

span.btn.disabled {
    opacity: 1;
}







