<div id="footer-wrapper" class="row-fluid">
  <div id="footer">
    <div class="footer-logo">
      <p class="fright"><%= Archivesphere::Application::config.archivesphere_version %></p>
      <p>ArchiveSphere</p>
    </div>
    <div class="footer-text">
      <p><strong>Copyright &copy; 2014 PennState University</strong></p>
    </div>
    <div class="clearfix"></div>
  </div><!-- /footer -->
</div><!-- /footer-wrapper -->

