<div id="footer-wrapper" class="row-fluid">
  <div class="span12">
    <footer id="footer" class="row-fluid">
      <div class="offset1 span5">
        <p class="logo"><a href="/"><span class="logoScholar">Archive</span><span class="logoSphere">Sphere</span></a><a href="/versions/"><span class="version"><%= Archivesphere::Application::config.archivesphere_version %></span></a></p>
        <p>A service of the University Libraries and Information Technology Services.</p>
      </div>
      <div class="span6 footer-text">
        <p><strong>Copyright &copy; 2013 The Pennsylvania State University</strong></p>
        <ul class="inline">
          <li><a href="http://psu.edu">Penn State</a></li>
          <li><a href="http://libraries.psu.edu">University Libraries</a></li>
          <li><a href="http://its.psu.edu">Information Technology Services</a></li>
          <li><a href="http://accessibility.psu.edu/">Accessibility</a></li>
        </ul>
      </div>
    </footer>
  </div>
</div><!-- /footer-wrapper -->

