<a id="shield" href="http://www.psu.edu/">
	<%= image_tag "psumark_rev.png", width: 150, height: 65, alt: "Penn State" %>
</a>
<a id="logo" href="/">
	<span class="logoScholar">Archive</span><span class="logoSphere">Sphere</span>
</a>